@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css?family=Raleway:800');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(43, 37, 33);
    background-attachment: fixed;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: rgb(43, 37, 33);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: drop-shadow(0 0 20px black);
    -webkit-filter: drop-shadow(0 0 20px black);
    -ms-filter: drop-shadow(0 0 20px black);
    z-index: 100;
}

a {
    text-decoration: none;
}

nav a {
    padding: 20px;
    color: rgb(135, 201, 228);
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

nav a:hover {
    color: rgb(214, 130, 91);
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

/* Header Home Page */
.header {
    background-image: url("https://images.pexels.com/photos/259672/pexels-photo-259672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 700px;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0% 0%);
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0% 0%);
    position: relative;
    z-index: -1;
}

#headeradventure {
    background-image: url("https://npca.s3.amazonaws.com/images/8706/591ff182-b7f9-4da1-9c16-c29e0ace3dc4-banner.jpg?1445970338");
    grid-template-rows: 1fr 2fr 2fr;
    position: relative;
    z-index: -1;
}

#headergallery {
    background-image: url("https://a30de2edae0c4b0bc6ba-a8477a60b1c5d9e290ed2e4c0d53743c.ssl.cf1.rackcdn.com/116/6/large.jpg");
    grid-template-rows: 1fr 2fr 2fr;
    position: relative;
    z-index: -1;

}

#headerstory {
    background-image: url("https://media.cntraveler.com/photos/594034815fff7e434a15efcf/master/pass/GettyImages-172750000.jpg");
    grid-template-rows: 1fr 2fr 2fr;
    position: relative;
    z-index: -1;
}

#headercontact {
    background-image: url("https://media.deseretdigital.com/file/aa89988589?type=jpeg&quality=55&c=15&a=4379240d");
    grid-template-rows: 1fr 2fr 2fr;
    position: relative;
    z-index: -1;
}

.header h1 {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
    text-align: center;
    font-size: calc(32px + 5vw);
    border-radius: 40px;
    margin: 0;
    position: relative;
    z-index: -1;
}

.header hr {
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
    position: relative;
    z-index: -1;
}

.header h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
    text-align: center;
    font-size: calc(16px + 2vw);
    margin: 0;
    position: relative;
    z-index: -1;

}

.header a {
    background-color: rgba(43, 37, 33, 0.75);
    display: block;
    border: 3px solid white;
    font-size: calc(16px + 1vw);
    font-family: 'Oswald', sans-serif;
    border-radius: 40px;
    padding: 10px;
    margin: 30px auto 0;
    text-align: center;
    width: calc(200px + 10vw);
    color: white;
    text-transform: uppercase;
    transition: .1s;
}

.header div.btngroup {
    width: fit-content;
    margin: 0 auto;
}

.header a#inline {
    display: block;
}

.header a:hover {
    transform: scale(1.025);
    filter: drop-shadow(0 0 10px black)
}

article {
    max-width: 1600px;
    padding: 10px 4vw;
    background-color: rgb(223, 182, 138);
    margin: 40px auto;
}

article a:last-of-type {
    background-color: rgba(43, 37, 33, 0.75);
    display: block;
    border: 3px solid white;
    font-size: calc(16px + 1vw);
    font-family: 'Oswald', sans-serif;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    width: calc(200px + 10vw);
    color: white;
    text-transform: uppercase;
    transition: .1s;
    margin-bottom: 40px;
}

article a:last-of-type:hover {
    transform: scale(1.025);
    filter: drop-shadow(0 0 10px black)
}

article h1 {
    clear: both;
    font-family: 'Oswald', sans-serif;
    font-size: calc(24px + 1.8vw);
    border-bottom: rgb(43, 37, 33) dotted 4px;
    margin: 10px 0;
}

article img {
    width: 600px;
}

article img.floatleft {
    float: left;
    padding-right: 20px;
}

article img.floatright {
    float: right;
    padding-left: 20px;
}

article img:first-of-type {
    display: block;
    width: 100%;
}

article div.polaroid {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 25%;
    float: left;
    transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 40px 0;
}

article div.inarticle {
    margin-right: 30px;
}

article div.inarticle-right {
    float: right;
    margin-left: 30px;
}

article div.thirds {
    width: 33.33%;
}

article div.halves {
    width: 50%;
}

article div.polaroid:nth-of-type(even) {
    transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}

article div.polaroid img.pin {
    position: absolute;
    margin: 0 auto;
    width: calc(32px + 4vw);
    left: 50%;
    transform: translate(-50%);
    top: -15%;
}

article div.polaroid img {
    float: left;
    display: block;
    width: 100%;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article div.polaroid iframe {
    float: left;
    display: block;
    width: 100%;
    height: 460px;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article div.polaroid p {
    font-family: 'Gochi Hand', sans-serif;
    padding: 10px;
    margin-bottom: 0;
}

article span {
    font-family: 'Oswald', sans-serif;
    font-size: calc(18px + 1.2vw);
    margin: 10px 0;
    color: rgb(65, 58, 54);
}

article span#videohead {
    clear: both;
    float: none;
    display: block;
    background-color: black;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    color: white;
}

article span#videohead i {
    color: rgb(236, 52, 20);
}

article span#socialhead {
    padding: 0;
    color: rgb(43, 37, 33);
    font-size: calc(18px + 1.6vw);
    text-transform: uppercase;
    float: left;
}

article a img.articlesocial {
    width: calc(18px + 1.6vw);
    float: left;
    margin-top: 18px;
    padding-left: 8px;

}

article h2 {
    clear: both;
    font-family: 'Oswald', sans-serif;
    font-size: calc(20px + 1.6vw);
    border-bottom: rgb(65, 58, 54) dotted 4px;
    margin: 10px 0;
    color: rgb(65, 58, 54);
}

article p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: calc(16px + .6vw);
}

article ul li {
    list-style-type: circle;
    color: rgb(43, 37, 33);
    font-family: 'Nunito Sans', sans-serif;
    font-size: calc(16px + .6vw);
    padding: 5px;
}

article blockquote {
    font-family: 'Nunito Sans', sans-serif;
    font-size: calc(16px + .6vw);
    font-style: italic;
    border-left: rgb(236, 52, 20) 8px solid;
    padding-left: 12px;
}

article blockquote.right {
    border-right: rgb(236, 52, 20) 8px solid;
    text-align: right;
    padding-right: 12px;
    border-left: none;
}

article iframe {
    width: 50%;
    height: 24vw;
    float: left;
}

article iframe#calendar {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

article iframe.gallery {
    width: 25%;
    height: 12vw;
    float: left;
}

article input {
    background-color: rgba(43, 37, 33, 0.75);
    display: block;
    border: 2px solid white;
    font-size: calc(16px + .6vw);
    font-family: 'Oswald', sans-serif;
    border-radius: 40px;
    padding: 10px;
    width: calc(200px + 10vw);
    color: white;
    transition: .1s;
    margin-bottom: 10px;
}

article textarea {
    background-color: rgba(43, 37, 33, 0.75);
    display: block;
    border: 2px solid white;
    font-size: calc(16px + .6vw);
    font-family: 'Oswald', sans-serif;
    border-radius: 40px;
    padding: 10px;
    width: calc(200px + 10vw);
    color: white;
    transition: .1s;
    margin-bottom: 10px;
    width: 50%;
    height: 120px;
}

article input#button {
    display: inline;
    text-align: center;
    font-size: calc(16px + 1vw);
    border: 3px solid white;
}

article form p {
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: calc(16px + .6vw);
    margin: 0;
}

details {
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: calc(16px + 1vw);
    margin: 20px 0;
    background-color: rgb(43, 37, 33, .75);
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: 2px white solid;
}

details p {
    margin: 10px 0 0;
}

footer {
    font-family: 'Oswald', sans-serif;
    font-size: calc(12px + .8vw);
    color: #969696;
    text-align: center;
    padding: .6vw;
}

.sociallinks {
    display: grid;
    margin: 0 auto;
    max-width: 140px;
    padding: .6vw 1.5vw;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    z-index: -1;

}

.sociallinks img {
    width: 32px;
    opacity: .5;
}

.sociallinks img:hover {
    opacity: .65;
}

#websitelinks {
    margin: 0;
}

.mobile {
    display: none;
}

footer a {
    color: white;
    text-decoration: none;
}

nav span:hover {
    color: rgb(233, 140, 87);
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #282828;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    color: rgb(255, 255, 255);
    font-size: 38px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(144, 178, 189);
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: rgb(233, 140, 87);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1200px) {
    article div.polaroid {
        width: 50%;
    }

    article div.thirds {
        width: 100%;
    }

    article div.halves {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    article img.floatleft {
        width: 50%;
    }

    article img.floatright {
        width: 50%;
    }

    article iframe {
        width: 50%;
        height: 24vw;
        float: left;
    }

    article iframe.gallery {
        width: 50%;
        height: 24vw;
        float: left;
    }


}

/* Responsive Mobile Menu */
@media only screen and (max-width: 800px) {
    nav a {
        display: none;
    }

    article form main {
        grid-template-columns: 1fr;
    }

    .mobile {
        display: block;
        color: rgb(135, 201, 228);
        font-size: 32px;
        font-family: 'Nunito Sans', sans-serif;
    }

    nav {
        padding: 10px;
    }

    .sidenav {
        height: 100vh;
    }

    .sidenav a:hover {
        background: transparent;
    }

    article img.floatleft {
        width: 100%;
        float: none;
    }

    article img.floatright {
        padding: 0;
        width: 100%;
        float: none;
    }

    article iframe {
        width: 100%;
        height: 48vw;
        float: none;
    }

    article iframe.gallery {
        width: 100%;
        height: 48vw;
        float: none;
    }

    article div.polaroid {
        width: 100%;
    }

    article div.thirds {
        width: 100%;
    }

    article div.halves {
        width: 100%;
    }

    article textarea {
        width: 75%;
    }

}

#backtop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(236, 52, 20);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: .2s;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
    font-family: 'Oswald', sans-serif;
}

#backtop:hover {
    background-color: #555;
}

/* Set fixed scrolling to scroll on iOS devices. */
@supports (-webkit-overflow-scrolling: touch) {

    .header,
    #headeradventure,
    #headergallery,
    #headerstory,
    #headercontact,
        {
        background-attachment: scroll;
    }
}

@supports not (-webkit-overflow-scrolling: touch) {

    .header,
    #headeradventure,
    #headergallery,
    #headerstory,
    #headercontact,
        {
        background-attachment: fixed;
    }
}